# npm
dist
web
node_modules

# test coverage
coverage

# config
config.json

# ide
.idea
.vs

# vim
*.sw?

# local media library (dev server test content)
media/

# docker persistent data
docker-config/
docker-cache/
docker-media/

# direnv
.direnv/

# environment related
.envrc
